Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

Adding SSL things
  libs/http/src/https_client.cpp
  libs/muddle/src/kademlia/peer_tracker.cpp
Owners: @fetchai/ledger-core, @fetchai/ledger

strip fp* suffix from fixedpoint literals
  libs/vm/src/generator.cpp
Owners: @fetchai/ledger

fix static analysis
  libs/vm/src/vm.cpp
Owners: @fetchai/ledger

ML-353: ml model misuse tests
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
Owners: @fetchai/ledger

Better start up performance
  libs/chain/include/chain/constants.hpp
  libs/chain/src/constants.cpp
  libs/constellation/include/constellation/constellation.hpp
  libs/constellation/src/constellation.cpp
  libs/ledger/include/ledger/consensus/consensus.hpp
  libs/ledger/include/ledger/consensus/consensus_interface.hpp
  libs/ledger/include/ledger/consensus/simulated_pow_consensus.hpp
  libs/ledger/include/ledger/genesis_loading/genesis_file_creator.hpp
  libs/ledger/include/ledger/storage_unit/fake_storage_unit.hpp
  libs/ledger/include/ledger/storage_unit/lane_service.hpp
  libs/ledger/include/ledger/storage_unit/storage_unit_bundled_service.hpp
  libs/ledger/src/chain/block.cpp
  libs/ledger/src/chain/block_coordinator.cpp
  libs/ledger/src/chain/main_chain.cpp
  libs/ledger/src/consensus/consensus.cpp
  libs/ledger/src/consensus/simulated_pow_consensus.cpp
  libs/ledger/src/genesis_file_creator.cpp
  libs/ledger/src/protocols/main_chain_rpc_service.cpp
  libs/ledger/src/storage_unit/fake_storage_unit.cpp
  libs/ledger/src/storage_unit/lane_service.cpp
  libs/ledger/src/storage_unit/storage_unit_client.cpp
  libs/ledger/src/testing/block_generator.cpp
  libs/ledger/tests/chain/block_coordinator_tests.cpp
  libs/ledger/tests/chaincode/smart_contract_tests.cpp
  libs/ledger/tests/consensus/simulated_pow_tests.cpp
  libs/ledger/tests/notarisation/notarisation_tests.cpp
  libs/ledger/tests/unit/basic_miner_tests.cpp
  libs/ledger/tests/unit/transaction_validator_tests.cpp
  libs/network/src/tcp/tcp_server.cpp
  scripts/end_to_end_test/end_to_end_test.yaml
Owners: @fetchai/ledger, @fetchai/ledger-core

Automatic code style apply
  libs/chain/include/chain/constants.hpp
  libs/constellation/include/constellation/constellation.hpp
  libs/constellation/src/constellation.cpp
  libs/ledger/include/ledger/genesis_loading/genesis_file_creator.hpp
  libs/ledger/src/chain/block_coordinator.cpp
  libs/ledger/src/consensus/simulated_pow_consensus.cpp
  libs/ledger/src/genesis_file_creator.cpp
  libs/ledger/tests/chain/block_coordinator_tests.cpp
  libs/ledger/tests/chaincode/smart_contract_tests.cpp
  libs/ledger/tests/unit/basic_miner_tests.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

Remove maximum charge tests check for adding non-relu, non-dense layers
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Refactor/ml 286 datatype init with strings (#2144)
  libs/ml/examples/bert_simple_cls_example/main.cpp
  libs/ml/tests/unit/graph/graph.cpp
  libs/ml/tests/unit/layers/fully_connected.cpp
  libs/ml/tests/unit/layers/scaled_dot_product_attention.cpp
  libs/ml/tests/unit/layers/self_attention_encoder.cpp
  libs/ml/tests/unit/model/dnn_regressor_test.cpp
  libs/ml/tests/unit/optimisation/optimisers.cpp
  libs/ml/tests/unit/regularisers/main.cpp
  libs/ml/tests/unit/serializers/ml_types.cpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Code cleaned
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Reflecting clang lint findings
  libs/ledger/src/chaincode/wallet_record.cpp
Owners: @fetchai/ledger-core

add fp128 to HighPrecisionTensorFloatingTypes
  libs/math/tests/unit/test_types.hpp
Owners: @fetchai/ledger-vm

Make FromString constructor more robust, add tests
  libs/math/include/math/tensor.hpp
  libs/math/tests/unit/tensor/constructor.cpp
Owners: @fetchai/ledger-vm

Static analysis fixes
  libs/constellation/include/constellation/constellation.hpp
  libs/constellation/src/constellation.cpp
  libs/ledger/include/ledger/genesis_loading/genesis_file_creator.hpp
  libs/ledger/src/storage_unit/fake_storage_unit.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

PR changes
  libs/core/include/core/random/lfg.hpp
  libs/math/tests/unit/basic_math/standard_functions_test.cpp
  libs/math/tests/unit/distance/entropy_tests.cpp
  libs/math/tests/unit/distance/perplexity.cpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

[[fallthrough]] is C++17, replace with [[gnu::fallthrough]]
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

Making Ninja more colorful
  cmake/BuildTargets.cmake
Owners: @ejfitzgerald, @n-hutton

Adding the second line of SSL
  libs/http/src/https_client.cpp
Owners: @fetchai/ledger-core

add FETCH_FALLTHROUGH macro as we don't have C++17 yet
  libs/core/include/core/macros.hpp
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

[wip] add test suite II.Maintaining the estimator state consistent with its VMModel
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Make VMModel copy/move constructor/assignment private - Remove consistency when VMModel is copied case - Fix Serialization
  libs/vm-modules/include/vm_modules/ml/model/model.hpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

[minor] Serialize missing ModelEstimator::State fields
  libs/vm-modules/include/vm_modules/ml/model/model.hpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Add ML estimators consistency unit tests [COLE-93] (#2120)
  libs/vm-modules/src/ml/dataloaders/dataloader.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/ml_estimator_tests.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

added disabled segfault test
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
Owners: @fetchai/ledger

ML-353: ml model misuse tests
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
Owners: @fetchai/ledger

Fixing broken test
  libs/math/tests/unit/activation_functions/softmax.cpp
Owners: @fetchai/ledger-vm

Minor correction
  libs/constellation/src/constellation.cpp
Owners: @fetchai/ledger

Add missing assignement of estimator to VMModel::DeserializeFrom
  libs/vm-modules/src/ml/model/model.cpp
Owners: @fetchai/ledger

static analysis fix
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

Coefs added
  libs/vm-modules/benchmark/tensor/tensor.cpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger

[minor] Apply style
  libs/vm-modules/src/ml/model/model.cpp
Owners: @fetchai/ledger

Revert "add fp128 to HighPrecisionTensorFloatingTypes"
  libs/math/tests/unit/test_types.hpp
Owners: @fetchai/ledger-vm

Added FP64 for LFG generator and refactored weight init (#2127)
  libs/core/include/core/random/lfg.hpp
  libs/ml/include/ml/ops/weights.hpp
  libs/ml/include/ml/optimisation/adam_optimiser.hpp
  libs/ml/include/ml/optimisation/lazy_adam_optimiser.hpp
  libs/ml/tests/unit/model/dnn_classifier_test.cpp
  libs/ml/tests/unit/model/dnn_regressor_test.cpp
  libs/ml/tests/unit/model/sequential_test.cpp
  libs/ml/tests/unit/optimisation/optimisers.cpp
  libs/ml/tests/unit/optimisation/sparse_optimisers.cpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

Remove floats from tokeniser
  libs/vm/include/vm/tokeniser.hpp
  libs/vm/scripts/tokeniser.l
  libs/vm/src/tokeniser.cpp
Owners: @fetchai/ledger

Iimproved startup (#2153)
  libs/chain/include/chain/constants.hpp
  libs/chain/src/constants.cpp
  libs/constellation/include/constellation/constellation.hpp
  libs/constellation/src/constellation.cpp
  libs/ledger/include/ledger/consensus/consensus.hpp
  libs/ledger/include/ledger/consensus/consensus_interface.hpp
  libs/ledger/include/ledger/consensus/simulated_pow_consensus.hpp
  libs/ledger/include/ledger/genesis_loading/genesis_file_creator.hpp
  libs/ledger/include/ledger/storage_unit/fake_storage_unit.hpp
  libs/ledger/include/ledger/storage_unit/lane_service.hpp
  libs/ledger/include/ledger/storage_unit/storage_unit_bundled_service.hpp
  libs/ledger/src/chain/block.cpp
  libs/ledger/src/chain/block_coordinator.cpp
  libs/ledger/src/chain/main_chain.cpp
  libs/ledger/src/consensus/consensus.cpp
  libs/ledger/src/consensus/simulated_pow_consensus.cpp
  libs/ledger/src/genesis_file_creator.cpp
  libs/ledger/src/protocols/main_chain_rpc_service.cpp
  libs/ledger/src/storage_unit/fake_storage_unit.cpp
  libs/ledger/src/storage_unit/lane_service.cpp
  libs/ledger/src/storage_unit/storage_unit_client.cpp
  libs/ledger/src/testing/block_generator.cpp
  libs/ledger/tests/chain/block_coordinator_tests.cpp
  libs/ledger/tests/chaincode/smart_contract_tests.cpp
  libs/ledger/tests/consensus/simulated_pow_tests.cpp
  libs/ledger/tests/notarisation/notarisation_tests.cpp
  libs/ledger/tests/unit/basic_miner_tests.cpp
  libs/ledger/tests/unit/transaction_validator_tests.cpp
  libs/network/src/tcp/tcp_server.cpp
  scripts/end_to_end_test/end_to_end_test.yaml
Owners: @fetchai/ledger, @fetchai/ledger-core

Added more benchmarks
  libs/vm-modules/benchmark/tensor/tensor.cpp
Owners: @fetchai/ledger

review comments
  libs/constellation/src/constellation.cpp
Owners: @fetchai/ledger

Address static analyser comments about VMModel privated default copy/move constructor/assignement
  libs/vm-modules/include/vm_modules/ml/model/model.hpp
Owners: @fetchai/ledger

FillRandom coefs tubed
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger

throw on all alpha characters in string constructor
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

style fixes
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
  libs/vm/src/generator.cpp
Owners: @fetchai/ledger

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf
