Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

fix code
  libs/vm/src/generator.cpp
Owners: @fetchai/ledger

revert changes to generator.cpp
  libs/vm/src/generator.cpp
Owners: @fetchai/ledger

put back stripping of fp suffix in the constructor
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

style fixes
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

add a couple more tests
  libs/math/tests/unit/tensor/constructor.cpp
Owners: @fetchai/ledger-vm

Auto style apply
  libs/muddle/src/muddle_register.cpp
Owners: @fetchai/ledger

replace ASSERT_ with EXPECT_
  libs/math/tests/unit/tensor/constructor.cpp
Owners: @fetchai/ledger-vm

std::size_t, style fixes
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

wip reworking tensor::FromString to allow different shape input
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

trigger ci
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Benchmarks finished
  libs/vm-modules/benchmark/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor.cpp
Owners: @fetchai/ledger

tensor fromstring with reshape test implemented
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Fix for failing unit test
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

aargh
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

Delete basic endinge tests
  libs/dmlf/tests/execution/basic_engine_tests.cpp
  libs/vectorise/include/vectorise/uint/uint.hpp
  libs/vm-modules/tests/unit/parameter_serialization.cpp
Owners: @fetchai/ledger-dmlf, @fetchai/ledger

Removing floats
  libs/ml/benchmark/training/training.cpp
  libs/ml/examples/bert_for_finetune/main.cpp
  libs/ml/examples/bert_simple_cls_example/main.cpp
  libs/ml/examples/word2vec_SGNS_dataloader/main.cpp
  libs/ml/include/ml/clustering/tsne.hpp
  libs/ml/include/ml/core/graph.hpp
  libs/ml/include/ml/layers/multihead_attention.hpp
  libs/ml/include/ml/layers/self_attention_encoder.hpp
Owners: @fetchai/ledger-vm

More defloating of core ml
  libs/ml/include/ml/model/model_config.hpp
  libs/ml/include/ml/ops/activations/elu.hpp
  libs/ml/include/ml/ops/loss_functions/cross_entropy_loss.hpp
  libs/ml/include/ml/ops/metrics/categorical_accuracy.hpp
  libs/ml/include/ml/ops/trainable.hpp
  libs/ml/include/ml/optimisation/optimiser.hpp
  libs/ml/include/ml/optimisation/rmsprop_optimiser.hpp
  libs/ml/include/ml/state_dict.hpp
  libs/ml/include/ml/utilities/bert_utilities.hpp
Owners: @fetchai/ledger-vm

Basic engine tests
  libs/dmlf/tests/execution/basic_engine_tests.cpp
Owners: @fetchai/ledger-dmlf

add handling of + sign, modify tests
  libs/math/include/math/tensor.hpp
  libs/math/tests/unit/tensor/constructor.cpp
Owners: @fetchai/ledger-vm

Defloating all but the ops tests
  libs/ml/tests/unit/clustering/tsne_tests.cpp
  libs/ml/tests/unit/graph/graph.cpp
  libs/ml/tests/unit/graph/graph_every_op.cpp
  libs/ml/tests/unit/layers/PRelu.cpp
  libs/ml/tests/unit/layers/convolution_1d.cpp
  libs/ml/tests/unit/layers/convolution_2d.cpp
  libs/ml/tests/unit/layers/fully_connected.cpp
  libs/ml/tests/unit/layers/layer_norm.cpp
  libs/ml/tests/unit/layers/multihead_attention.cpp
  libs/ml/tests/unit/layers/scaled_dot_product_attention.cpp
  libs/ml/tests/unit/layers/skip_gram.cpp
  libs/ml/tests/unit/model/dnn_classifier_test.cpp
  libs/ml/tests/unit/model/dnn_regressor_test.cpp
  libs/ml/tests/unit/model/sequential_test.cpp
  libs/ml/tests/unit/optimisation/optimisers.cpp
  libs/ml/tests/unit/optimisation/sparse_optimisers.cpp
  libs/ml/tests/unit/serializers/ml_types.cpp
  libs/ml/tests/unit/training/basic_training.cpp
Owners: @fetchai/ledger-vm

tensor fromstring + handling
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

removed duplicate entry
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

Correct typo
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

Disable aux project builds
  Jenkinsfile
Owners: @ejfitzgerald, @n-hutton, @wkaluza

Further fixes
  libs/math/tests/unit/basic_math/big_number_tests.cpp
  libs/vectorise/include/vectorise/uint/uint.hpp
  libs/vm-modules/tests/unit/fixed_point.cpp
  libs/vm-modules/tests/unit/parameter_serialization.cpp
  libs/vm-modules/tests/unit/state_tests.cpp
  libs/vm/include/vm/generator.hpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Benchmarks fixed
  libs/math/include/math/tensor.hpp
  libs/vm-modules/benchmark/tensor/tensor.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Static analysis fixes
  libs/math/tests/unit/activation_functions/relu.cpp
  libs/math/tests/unit/activation_functions/sigmoid.cpp
  libs/math/tests/unit/basic_math/standard_functions_test.cpp
  libs/math/tests/unit/fundamental_operators/fundamental_operators.cpp
  libs/math/tests/unit/tensor/basic_tests.cpp
Owners: @fetchai/ledger-vm

Fixing overflow
  libs/math/tests/unit/fundamental_operators/fundamental_operators.cpp
Owners: @fetchai/ledger-vm

WIP
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

convert math float tests for Fixed32/64
  libs/vm-modules/tests/unit/math/math.cpp
Owners: @fetchai/ledger

Style
  libs/vm-modules/tests/unit/math/math.cpp
Owners: @fetchai/ledger

VMTensor tests fixed (fill 1 2 3 4 dim)
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

fix fp literals
  libs/vm-modules/tests/unit/fixed_point.cpp
Owners: @fetchai/ledger

WIP
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

removal of bignumber float tests
  libs/vm-modules/src/math/bignumber.cpp
  libs/vm-modules/tests/unit/math/big_number_wrapper_tests.cpp
Owners: @fetchai/ledger

clean up
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

removed log and double conversion uint256 tests
  libs/math/tests/unit/basic_math/big_number_tests.cpp
Owners: @fetchai/ledger-vm

COefs added
  libs/math/include/math/tensor.hpp
  libs/vm-modules/benchmark/tensor/tensor.cpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Typo fix
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

style
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf
