Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

Fixing trig.etch
  scripts/etch-language-tests/maths/trig.etch
Owners: @fetchai/ledger

do not print leading zeros in NaNs/inf
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

Style
  libs/vm-modules/tests/unit/parameter_serialization.cpp
Owners: @fetchai/ledger

Remove dead code
  libs/vectorise/include/vectorise/uint/uint.hpp
Owners: @fetchai/ledger

Remove obsolete tests
  libs/dmlf/include/dmlf/execution/basic_vm_engine.hpp
  libs/dmlf/tests/execution/basic_engine_tests.cpp
  libs/vm-modules/tests/unit/parameter_serialization.cpp
Owners: @fetchai/ledger-dmlf, @fetchai/ledger

fix atanh(1.0) result
  libs/math/tests/unit/fixed_point/fixed_point.cpp
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

removal of bignumber float tests
  libs/vm-modules/src/math/bignumber.cpp
  libs/vm-modules/tests/unit/math/big_number_wrapper_tests.cpp
Owners: @fetchai/ledger

WIP Copy for UINt256
  libs/vm-modules/include/vm_modules/math/bignumber.hpp
  libs/vm-modules/src/math/bignumber.cpp
Owners: @fetchai/ledger

removed log and double conversion uint256 tests
  libs/math/tests/unit/basic_math/big_number_tests.cpp
Owners: @fetchai/ledger-vm

Deep copy for UInt256 and Fixed128 + tests
  libs/vm-modules/src/math/bignumber.cpp
  libs/vm-modules/tests/unit/fixed_point.cpp
  libs/vm-modules/tests/unit/math/big_number_wrapper_tests.cpp
  libs/vm/include/vm/fixed.hpp
  libs/vm/src/fixed.cpp
  libs/vm/src/module.cpp
Owners: @fetchai/ledger

Update libs/vm-modules/tests/unit/fixed_point.cpp
  libs/vm-modules/tests/unit/fixed_point.cpp
Owners: @fetchai/ledger

PR feedback
  libs/ledger/src/protocols/main_chain_rpc_service.cpp
  libs/ledger/src/upow/synergetic_executor.cpp
  scripts/end_to_end_test/smart_contract_tests/malleability_test.py
  scripts/end_to_end_test/smart_contract_tests/synergetic_mining.py
Owners: @fetchai/ledger-core, @fetchai/ledger

print inf instead of ∞ (sadly)
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

Reinstate atanh test
  scripts/etch-language-tests/maths/trig.etch
Owners: @fetchai/ledger

revert yaml file
  scripts/end_to_end_test/end_to_end_test.yaml
Owners: @fetchai/ledger

update version
  scripts/install-test-dependencies.sh
Owners: @fetchai/ledger

Remove ineffectual zero charges
  libs/vm/src/vm.cpp
Owners: @fetchai/ledger

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf
