Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

Remove Matrix bindings (#2125)
  libs/vm/include/vm/analyser.hpp
  libs/vm/include/vm/variant.hpp
  libs/vm/src/analyser.cpp
  libs/vm/src/module.cpp
Owners: @fetchai/ledger

Fix aggregate stats and other minor changes
  scripts/benchmark/opcode_timing.py
  scripts/benchmark/vm_benchmark_tables.py
Owners: @fetchai/ledger

precision fix
  libs/core/include/core/random/lfg.hpp
  libs/ml/include/ml/ops/weights.hpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

Removed doc file OpcodePricing.md
  scripts/benchmark/OpcodePricing.md
Owners: @fetchai/ledger

Added accuracy metric test
  libs/ml/include/ml/ops/loss_functions/softmax_cross_entropy_loss.hpp
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Review comments
  .gitmodules
  apps/constellation/main.cpp
  apps/constellation/settings.cpp
  apps/constellation/settings.hpp
  apps/etch/main.cpp
  libs/constellation/include/constellation/constellation.hpp
  libs/constellation/src/constellation.cpp
  libs/core/CMakeLists.txt
  libs/core/include/core/fetch_memu.hpp
  libs/core/include/core/mutex.hpp
  libs/ledger/src/executor.cpp
  libs/ledger/src/storage_unit/fake_storage_unit.cpp
  libs/ledger/tests/chain/fake_execution_manager.cpp
  libs/muddle/include/muddle/muddle_interface.hpp
  libs/muddle/src/peer_list.cpp
  libs/vm-modules/include/vm_modules/core/disaster.hpp
  libs/vm-modules/src/core/disaster.cpp
Owners: @ejfitzgerald, @n-hutton, @fetchai/ledger-core, @fetchai/ledger

Auto style apply
  libs/constellation/src/constellation.cpp
  libs/core/CMakeLists.txt
Owners: @fetchai/ledger

Annotate TODO
  libs/ledger/src/chaincode/smart_contract.cpp
Owners: @fetchai/ledger-core

Simplify erase call
  libs/ledger/src/chaincode/smart_contract.cpp
Owners: @fetchai/ledger-core

[wip] Add tests for VMModel operation without estimator
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Compilation fixes
  libs/constellation/src/constellation.cpp
Owners: @fetchai/ledger

All tests passed
  libs/core/include/core/mutex.hpp
  libs/core/src/mutex.cpp
  libs/core/tests/unit/mutex.cpp
  libs/muddle/internal/muddle_register.hpp
  libs/muddle/src/kademlia/peer_tracker.cpp
  libs/muddle/src/kademlia/table.cpp
  libs/muddle/src/muddle.cpp
  libs/muddle/src/muddle_register.cpp
  libs/muddle/tests/integration/rbc_tests.cpp
Owners: @fetchai/ledger

Fix etch compiler errors
  apps/etch/main.cpp
Owners: @fetchai/ledger-core

Fixing merge bugs, adding scel
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Use yaml file for benchmarks configuration - Allows multiple benchmarks
  scripts/ml_etch_bench/benchmarks.yaml
  scripts/ml_etch_bench/run_ml_etch_time_charge_bench.py
Owners: @fetchai/ledger

Updated mutex
  libs/core/include/core/mutex.hpp
  libs/muddle/src/muddle_register.cpp
  libs/network/include/network/details/thread_pool.hpp
  libs/network/include/network/service/promise.hpp
  libs/network/src/details/thread_pool.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

Adding broken test
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Fix unused param warning
  libs/ledger/src/storage_unit/fake_storage_unit.cpp
Owners: @fetchai/ledger-core

implemented tensor dot, argmax, and copy + initial estimators + tests
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/src/ml/graph.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

reworked dot implementation
  libs/vm-modules/src/math/tensor/tensor.cpp
Owners: @fetchai/ledger

Correct segv catching behaviour
  apps/constellation/main.cpp
Owners: @fetchai/ledger-core

Minor updates
  libs/core/include/core/mutex.hpp
  libs/core/tests/unit/mutex.cpp
  libs/muddle/internal/kademlia/table.hpp
  libs/muddle/src/kademlia/table.cpp
  libs/muddle/tests/integration/peer_table_reboot.cpp
Owners: @fetchai/ledger

Preparing for CI
  libs/core/src/mutex.cpp
  libs/core/tests/unit/mutex.cpp
  libs/muddle/src/kademlia/peer_tracker.cpp
  libs/muddle/src/kademlia/table.cpp
  libs/muddle/src/muddle_register.cpp
  libs/muddle/src/muddle_status.cpp
  libs/muddle/src/router.cpp
  libs/network/include/network/details/thread_pool.hpp
  libs/network/src/details/thread_pool.cpp
  libs/network/src/tcp/tcp_server.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

Fixed tests
  libs/ml/include/ml/ops/weights.hpp
  libs/ml/include/ml/optimisation/lazy_adam_optimiser.hpp
  libs/ml/tests/unit/optimisation/optimisers.cpp
  libs/ml/tests/unit/optimisation/sparse_optimisers.cpp
Owners: @fetchai/ledger-vm

Fixed broken test
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

More safety added
  libs/ml/include/ml/optimisation/adam_optimiser.hpp
  libs/ml/include/ml/optimisation/lazy_adam_optimiser.hpp
Owners: @fetchai/ledger-vm

tests accuracy improed
  libs/ml/tests/unit/optimisation/sparse_optimisers.cpp
Owners: @fetchai/ledger-vm

Do not cache state existed value (#2128)
  libs/vm/src/state.cpp
  scripts/end_to_end_test/end_to_end_test.yaml
  scripts/end_to_end_test/smart_contract_tests/simple_state_test.py
Owners: @fetchai/ledger

Removing EvaluateWithMetrics
  libs/vm-modules/examples/boston_house_prices/script/boston.etch
  libs/vm-modules/include/vm_modules/ml/model/model.hpp
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/ml/model/model.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

implemented VMTensor::Shape()
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

style
  libs/vm-modules/src/math/tensor/tensor.cpp
Owners: @fetchai/ledger

possible test
  libs/muddle/internal/muddle_register.hpp
Owners: @fetchai/ledger

something
  libs/muddle/src/muddle_register.cpp
Owners: @fetchai/ledger

Static issues
  libs/core/include/core/mutex.hpp
  libs/core/src/mutex.cpp
  libs/muddle/internal/kademlia/table.hpp
Owners: @fetchai/ledger

PR comment fixes
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

style
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Minor updates
  libs/ledger/include/ledger/execution_manager.hpp
Owners: @fetchai/ledger-core

alt fix
  libs/muddle/internal/muddle_register.hpp
  libs/muddle/src/muddle_register.cpp
Owners: @fetchai/ledger

actual fix
  libs/muddle/src/muddle_register.cpp
Owners: @fetchai/ledger

Fixes
  libs/muddle/internal/kademlia/peer_tracker.hpp
  libs/muddle/internal/kademlia/table.hpp
  libs/muddle/src/kademlia/peer_tracker.cpp
  libs/muddle/src/kademlia/table.cpp
  libs/muddle/tests/unit/table_recovery.cpp
Owners: @fetchai/ledger

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf
