Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf

Fix of Network Deadlock (#2133)
  libs/muddle/src/muddle_register.cpp
Owners: @fetchai/ledger

Initial implementation of c2c calls (#2070)
  libs/ledger/benchmark/executor_bench.cpp
  libs/ledger/include/ledger/chaincode/contract_context.hpp
  libs/ledger/include/ledger/chaincode/smart_contract_factory.hpp
  libs/ledger/include/ledger/transaction_verifier.hpp
  libs/ledger/src/chaincode/contract_context.cpp
  libs/ledger/src/chaincode/contract_http_interface.cpp
  libs/ledger/src/chaincode/smart_contract.cpp
  libs/ledger/src/chaincode/smart_contract_manager.cpp
  libs/ledger/src/executor.cpp
  libs/ledger/src/fees/fee_manager.cpp
  libs/ledger/src/transaction_validator.cpp
  libs/ledger/src/transaction_verifier.cpp
  libs/ledger/src/upow/naive_synergetic_miner.cpp
  libs/ledger/src/upow/synergetic_executor.cpp
  libs/ledger/tests/chaincode/contract_test.hpp
  libs/ledger/tests/unit/transaction_validator_tests.cpp
  libs/vm/include/vm/vm.hpp
  libs/vm/src/vm.cpp
  scripts/end_to_end_test/end_to_end_test.yaml
  scripts/end_to_end_test/smart_contract_tests/c2c_argument_passing_test.py
  scripts/end_to_end_test/smart_contract_tests/c2c_balance.py
  scripts/end_to_end_test/smart_contract_tests/c2c_call_cycle_test.py
  scripts/end_to_end_test/smart_contract_tests/c2c_multiple_calls.py
  scripts/end_to_end_test/smart_contract_tests/c2c_nested_call_depth_limit_test.py
  scripts/end_to_end_test/smart_contract_tests/c2c_nested_call_test.py
  scripts/end_to_end_test/smart_contract_tests/c2c_self_call_test.py
  scripts/end_to_end_test/smart_contract_tests/c2c_single_call_test.py
  scripts/end_to_end_test/smart_contract_tests/c2c_transfer.py
  scripts/end_to_end_test/smart_contract_tests/c2c_with_context_test.py
  scripts/install-test-dependencies.sh
Owners: @fetchai/ledger-core, @fetchai/ledger

disallow scientific notation in parser, fix corner cases in parser, small optimization in Abs(), added tests
  libs/math/tests/unit/fixed_point/fixed_point.cpp
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

replace scientific notation literals with normal fp literals
  libs/ml/tests/unit/ops/activations/logsoftmax.cpp
  libs/ml/tests/unit/ops/activations/softmax.cpp
Owners: @fetchai/ledger-vm

use string constructor
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

specialise FromString() for FixedPoints
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

pr feedback
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

Added metrics to etch VMModel::CompileSequential (#2114)
  libs/ml/include/ml/model/model.hpp
  libs/ml/include/ml/ops/loss_functions/softmax_cross_entropy_loss.hpp
  libs/vm-modules/examples/boston_house_prices/script/boston.etch
  libs/vm-modules/include/vm_modules/ml/model/model.hpp
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/ml/model/model.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

style fixes
  libs/math/include/math/tensor.hpp
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

VMTensor Transpose and Reshape improvements, estimation and estimator tests (#2116)
  libs/math/include/math/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

add test, POC
  libs/ledger/include/ledger/consensus/consensus.hpp
  libs/ledger/src/chain/block.cpp
  libs/ledger/src/chain/block_coordinator.cpp
  libs/ledger/src/consensus/consensus.cpp
  libs/ledger/tests/consensus/pos_tests.cpp
Owners: @fetchai/ledger-core

style
  libs/ledger/include/ledger/consensus/consensus.hpp
  libs/ledger/src/chain/block_coordinator.cpp
  libs/ledger/src/consensus/consensus.cpp
  libs/ledger/tests/consensus/pos_tests.cpp
Owners: @fetchai/ledger-core

Add tests for ML objects without estimators
  libs/vm-modules/src/ml/dataloaders/dataloader.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/ml_estimator_tests.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Updating mutex
  libs/core/include/core/mutex.hpp
  libs/core/tests/unit/mutex.cpp
  libs/muddle/src/kademlia/peer_tracker.cpp
  libs/network/include/network/generics/atomic_inflight_counter.hpp
  libs/network/include/network/generics/backgrounded_work.hpp
Owners: @fetchai/ledger, @fetchai/ledger-core

Replaced FixedPoint float/double init with string
  libs/ml/examples/mnist/main.cpp
  libs/ml/examples/word2vec_SGNS_dataloader/main.cpp
  libs/ml/include/ml/clustering/tsne.hpp
  libs/ml/include/ml/ops/activations/elu.hpp
  libs/ml/include/ml/ops/loss_functions/cross_entropy_loss.hpp
  libs/ml/include/ml/ops/metrics/categorical_accuracy.hpp
  libs/ml/tests/unit/clustering/tsne_tests.cpp
  libs/ml/tests/unit/model/dnn_classifier_test.cpp
  libs/ml/tests/unit/model/dnn_regressor_test.cpp
  libs/ml/tests/unit/model/sequential_test.cpp
  libs/ml/tests/unit/ops/activations/dropout.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Fixing problem in debug mutex
  libs/core/src/mutex.cpp
Owners: @fetchai/ledger

Beacon setup and rbc bug fixes (#2098)
  libs/beacon/include/beacon/beacon_complaints_manager.hpp
  libs/beacon/src/beacon_complaints_manager.cpp
  libs/beacon/src/beacon_manager.cpp
  libs/beacon/src/beacon_setup_service.cpp
  libs/beacon/tests/unit/dkg_resilience.cpp
  libs/muddle/include/muddle/rbc.hpp
  libs/muddle/src/rbc.cpp
  libs/muddle/tests/integration/rbc_tests.cpp
Owners: @n-hutton, @jinmannwong, @fetchai/ledger

fixed shadowing
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Extending debug mutex
  libs/core/include/core/mutex.hpp
  libs/core/src/mutex.cpp
Owners: @fetchai/ledger

implemented universal DataType constructor as a math free function
  libs/math/include/math/base_types.hpp
  libs/ml/examples/mnist/main.cpp
Owners: @fetchai/ledger-vm

removed shadow
  libs/ml/examples/mnist/main.cpp
Owners: @fetchai/ledger-vm

Complete removal of vm::Matrix
  libs/vm/include/vm/matrix.hpp
  libs/vm/src/matrix.cpp
  libs/vm/src/module.cpp
Owners: @fetchai/ledger

review changes
  libs/dmlf/src/colearn/muddle_learner_networker_impl.cpp
Owners: @fetchai/ledger-dmlf

DataType initialization refactoring
  libs/ml/examples/commodity_prediction/main.cpp
  libs/ml/examples/mnist/main.cpp
  libs/ml/examples/word2vec_SGNS_dataloader/main.cpp
  libs/ml/include/ml/clustering/tsne.hpp
  libs/ml/include/ml/ops/activations/elu.hpp
  libs/ml/include/ml/ops/loss_functions/cross_entropy_loss.hpp
  libs/ml/include/ml/ops/metrics/categorical_accuracy.hpp
  libs/ml/tests/unit/clustering/tsne_tests.cpp
  libs/ml/tests/unit/ops/activations/dropout.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

tensor dot, argmax, and copy (#2131)
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/src/ml/graph.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

AsFP32 for LFG implemented
  libs/core/include/core/random/lfg.hpp
  libs/ml/include/ml/ops/weights.hpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

Making full trace
  libs/core/include/core/mutex.hpp
  libs/core/src/mutex.cpp
  libs/core/tests/unit/mutex.cpp
Owners: @fetchai/ledger

cleanup
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

bugfix namespace ambiguity
  libs/ml/examples/mnist/main.cpp
Owners: @fetchai/ledger-vm

Updating debug mutex
  libs/core/tests/unit/mutex.cpp
Owners: @fetchai/ledger

added integer type construction to math/base_types
  libs/math/include/math/base_types.hpp
  libs/vectorise/include/vectorise/fixed_point/type_traits.hpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Fixed tests
  libs/ml/tests/unit/optimisation/optimisers.cpp
  libs/ml/tests/unit/optimisation/sparse_optimisers.cpp
Owners: @fetchai/ledger-vm

Check pointing
  libs/beacon/src/trusted_dealer_beacon_service.cpp
  libs/core/src/mutex.cpp
  libs/muddle/benchmark/rbc_bench.cpp
  libs/oef-base/include/oef-base/threading/Future.hpp
  libs/oef-base/include/oef-base/threading/FutureCombiner.hpp
  libs/oef-base/include/oef-base/threading/TaskChainParallel.hpp
  libs/oef-search/include/oef-search/dap_comms/DapParallelConversationTask.hpp
  libs/oef-search/include/oef-search/dap_manager/DapManager.hpp
  libs/oef-search/include/oef-search/dap_manager/DapStore.hpp
  libs/oef-search/src/dap_manager/visitors/PopulateActionsVisitorDescentPass.cpp
  libs/telemetry/include/telemetry/gauge.hpp
  libs/telemetry/include/telemetry/registry.hpp
  libs/telemetry/src/counter_map.cpp
  libs/telemetry/src/histogram.cpp
  libs/telemetry/src/histogram_map.cpp
  libs/telemetry/src/registry.cpp
  libs/telemetry/tests/unit/gauge_tests.cpp
Owners: @n-hutton, @jinmannwong, @fetchai/ledger, @fetchai/ledger-dmlf, @fetchai/ledger-core

Fix merge
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

[minor] Apply style
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

[minor] Apply style
  scripts/ml_etch_bench/benchmarks.yaml
  scripts/ml_etch_bench/run_ml_etch_time_charge_bench.py
Owners: @fetchai/ledger

Random rework
  libs/core/include/core/random/lfg.hpp
  libs/ml/include/ml/optimisation/adam_optimiser.hpp
  libs/ml/include/ml/optimisation/lazy_adam_optimiser.hpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

Complete removal of vm::Matrix (#2138)
  libs/vm/include/vm/matrix.hpp
  libs/vm/src/matrix.cpp
  libs/vm/src/module.cpp
Owners: @fetchai/ledger

extension to check for integral type & tests
  libs/math/tests/unit/base_types/base_types.cpp
Owners: @fetchai/ledger-vm

[Deed] Dropping unnecessary legacy `address` field from deed structure
  libs/ledger/src/chaincode/wallet_record.cpp
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core
