Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf

fix newline/colon parsing, now the parser uses one or the other (whichever is first) and ignores the other
  libs/math/include/math/tensor.hpp
  libs/ml/tests/unit/ops/prelu_op.cpp
Owners: @fetchai/ledger-vm

FP32 random improved
  libs/core/include/core/random/lfg.hpp
Owners: @fetchai/ledger

Extending genesis file with option to specify deed(s)
  libs/ledger/src/genesis_file_creator.cpp
Owners: @fetchai/ledger-core

Fixing segfault
  libs/muddle/internal/kademlia/peer_tracker.hpp
  libs/muddle/src/kademlia/peer_tracker.cpp
  libs/muddle/src/kademlia/table.cpp
Owners: @fetchai/ledger

fix syntax so FromString() isn't confused by the newlines/colons
  libs/math/tests/unit/linalg/blas/gemm_nn_novector.cpp
Owners: @fetchai/ledger-vm

Updating style
  libs/core/include/core/mutex.hpp
  libs/muddle/src/kademlia/peer_tracker.cpp
Owners: @fetchai/ledger

Fixing static issues
  libs/core/include/core/mutex.hpp
Owners: @fetchai/ledger

Limit Variant type which can represent (empty) deed
  libs/ledger/src/chaincode/wallet_record.cpp
Owners: @fetchai/ledger-core

Changing default connectivity
  libs/muddle/include/muddle/tracker_configuration.hpp
Owners: @fetchai/ledger

Updating muddle to print tracker information
  libs/muddle/include/muddle/tracker_configuration.hpp
  libs/muddle/internal/kademlia/peer_tracker.hpp
  libs/muddle/src/kademlia/peer_tracker.cpp
Owners: @fetchai/ledger

modify parser to only care about new lines when data has actually been reached
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

Defloating blas (#2142)
  libs/math/src/math/linalg/blas/gemm_nn_novector.cpp
  libs/math/src/math/linalg/blas/gemm_nn_vector.cpp
  libs/math/src/math/linalg/blas/gemm_nt_novector.cpp
  libs/math/src/math/linalg/blas/gemm_nt_vector.cpp
  libs/math/src/math/linalg/blas/gemm_tn_novector.cpp
  libs/math/src/math/linalg/blas/gemm_tn_vector.cpp
  libs/math/src/math/linalg/blas/gemm_tt_novector.cpp
  libs/math/src/math/linalg/blas/gemm_tt_vector.cpp
  libs/math/src/math/linalg/blas/gemv_n_novector.cpp
  libs/math/src/math/linalg/blas/gemv_n_vector.cpp
  libs/math/src/math/linalg/blas/gemv_t_novector.cpp
  libs/math/src/math/linalg/blas/gemv_t_vector.cpp
Owners: @fetchai/ledger-vm

Removing floats from math library
  libs/math/include/math/activation_functions/gelu.hpp
  libs/math/include/math/correlation/cosine.hpp
  libs/math/include/math/one_hot.hpp
  libs/math/include/math/tensor.hpp
  libs/math/include/math/utilities/ReadCSV.hpp
Owners: @fetchai/ledger-vm

attempt #2, really this time
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

Updating routing conf for DKGN
  libs/constellation/src/constellation.cpp
Owners: @fetchai/ledger

Activation function tests
  libs/math/tests/unit/activation_functions/gelu.cpp
  libs/math/tests/unit/activation_functions/relu.cpp
  libs/math/tests/unit/activation_functions/sigmoid.cpp
  libs/math/tests/unit/activation_functions/softmax.cpp
Owners: @fetchai/ledger-vm

Basic_math tests
  libs/math/tests/unit/basic_math/normalize_array_tests.cpp
  libs/math/tests/unit/basic_math/standard_functions_test.cpp
Owners: @fetchai/ledger-vm

Modifying connectivity
  libs/beacon/src/beacon_setup_service.cpp
  libs/constellation/src/constellation.cpp
Owners: @n-hutton, @jinmannwong, @fetchai/ledger

Updating
  libs/beacon/src/beacon_setup_service.cpp
Owners: @n-hutton, @jinmannwong

More tests
  libs/math/tests/unit/distance/entropy_tests.cpp
  libs/math/tests/unit/distance/perplexity.cpp
  libs/math/tests/unit/fundamental_operators/fundamental_operators.cpp
  libs/math/tests/unit/gtest/one_hot.cpp
  libs/math/tests/unit/matrix_operations/matrix_operations.cpp
  libs/math/tests/unit/metrics/cross_entropy_loss.cpp
  libs/math/tests/unit/metrics/kl_divergence_tests.cpp
  libs/math/tests/unit/metrics/mean_squared_error.cpp
Owners: @fetchai/ledger-vm

Remaining tests, apart from fixed point
  libs/math/tests/unit/serializers/fixed_point.cpp
  libs/math/tests/unit/tensor/basic_tests.cpp
  libs/math/tests/unit/tensor/tensor_indexing.cpp
  libs/math/tests/unit/trigonometry/trig.cpp
  libs/math/tests/unit/vectors/vector_tests.cpp
Owners: @fetchai/ledger-vm

Updating
  libs/constellation/src/constellation.cpp
Owners: @fetchai/ledger

Defloating most of the ML library
  libs/ml/examples/commodity_prediction/main.cpp
  libs/ml/examples/crypto_price_prediction/main.cpp
  libs/ml/examples/mnist_model/main.cpp
  libs/ml/examples/word2vec_SGNS_dataloader/main.cpp
  libs/ml/examples/word2vec_graph_evaluation/main.cpp
  libs/ml/include/ml/dataloaders/word2vec_loaders/sgns_w2v_dataloader.hpp
  libs/ml/include/ml/layers/multihead_attention.hpp
  libs/ml/include/ml/layers/scaled_dot_product_attention.hpp
  libs/ml/include/ml/layers/self_attention_encoder.hpp
  libs/ml/include/ml/model/model_config.hpp
  libs/ml/include/ml/ops/activations/dropout.hpp
  libs/ml/include/ml/ops/activations/gelu.hpp
  libs/ml/include/ml/ops/activations/leaky_relu.hpp
  libs/ml/include/ml/ops/activations/logsigmoid.hpp
  libs/ml/include/ml/ops/activations/randomised_relu.hpp
  libs/ml/include/ml/ops/activations/sigmoid.hpp
  libs/ml/include/ml/ops/one_hot.hpp
  libs/ml/include/ml/ops/tanh.hpp
  libs/ml/include/ml/ops/weights.hpp
  libs/ml/include/ml/optimisation/adagrad_optimiser.hpp
  libs/ml/include/ml/optimisation/learning_rate_params.hpp
  libs/ml/include/ml/optimisation/momentum_optimiser.hpp
  libs/ml/include/ml/optimisation/rmsprop_optimiser.hpp
  libs/ml/tests/unit/graph/graph.cpp
  libs/ml/tests/unit/graph/graph_every_op.cpp
Owners: @fetchai/ledger-vm

bugfix left in scientific notation fixed point test
  libs/math/tests/unit/fixed_point/fixed_point.cpp
Owners: @fetchai/ledger-vm

static analysis fix
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

removed commented out code
  libs/vectorise/include/vectorise/meta/math_type_traits.hpp
Owners: @fetchai/ledger

Fixing overzealous checks in Model::Predict (#2146)
  libs/ml/include/ml/model/model.hpp
  libs/ml/tests/unit/model/sequential_test.cpp
Owners: @fetchai/ledger-vm

Defloating ml/tests: PR corrections
  libs/ml/tests/unit/layers/scaled_dot_product_attention.cpp
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Defloating ml/tests/unit
  libs/ml/tests/unit/graph/graph.cpp
  libs/ml/tests/unit/layers/fully_connected.cpp
  libs/ml/tests/unit/layers/scaled_dot_product_attention.cpp
  libs/ml/tests/unit/layers/self_attention_encoder.cpp
  libs/ml/tests/unit/model/dnn_regressor_test.cpp
  libs/ml/tests/unit/regularisers/main.cpp
Owners: @fetchai/ledger-vm

disallow scientific notation in parser, fix corner cases in parser, small optimization in Abs(), added tests
  libs/math/tests/unit/fixed_point/fixed_point.cpp
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

static_cast<DataType>() replaced with Type<>() -2
  libs/ml/examples/bert_simple_cls_example/main.cpp
  libs/ml/tests/unit/optimisation/optimisers.cpp
  libs/ml/tests/unit/regularisers/main.cpp
  libs/ml/tests/unit/serializers/ml_types.cpp
Owners: @fetchai/ledger-vm

static_cast<DataType>( float ) replaced with Type<>(...)
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
  libs/vm-modules/tests/unit/ml/ml_model_tests.cpp
Owners: @fetchai/ledger

Feature/tensor fromstring fixedpoint (#2141)
  libs/math/include/math/tensor.hpp
  libs/math/tests/unit/activation_functions/softmax.cpp
  libs/math/tests/unit/fixed_point/fixed_point.cpp
  libs/math/tests/unit/linalg/blas/gemm_nn_novector.cpp
  libs/ml/tests/unit/ops/activations/logsoftmax.cpp
  libs/ml/tests/unit/ops/activations/softmax.cpp
  libs/ml/tests/unit/ops/prelu_op.cpp
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

Switch to ordered map
  libs/vm/include/vm/map.hpp
Owners: @fetchai/ledger

Remove header
  libs/vm/include/vm/map.hpp
Owners: @fetchai/ledger

protect against stack overflows
  libs/vm/include/vm/module/base.hpp
  libs/vm/include/vm/module/free_function_invoke.hpp
  libs/vm/include/vm/module/member_function_invoke.hpp
  libs/vm/include/vm/object.hpp
  libs/vm/include/vm/vm.hpp
  libs/vm/src/object.cpp
  libs/vm/src/vm.cpp
  libs/vm/src/vm_handlers.cpp
Owners: @fetchai/ledger

static analysis fix
  libs/core/include/core/random/lfg.hpp
Owners: @fetchai/ledger

apply style
  libs/vm/include/vm/module/free_function_invoke.hpp
  libs/vm/include/vm/module/member_function_invoke.hpp
  libs/vm/src/vm.cpp
  libs/vm/src/vm_handlers.cpp
Owners: @fetchai/ledger

Benchmarks and coefs for new tensor operators (#2145)
  libs/vm-modules/benchmark/tensor/tensor.cpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger

static analysis fix
  libs/math/include/math/base_types.hpp
Owners: @fetchai/ledger-vm
