Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf

Coefs fixes
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

FromString refactored
  libs/math/include/math/tensor.hpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

WiP
  libs/semanticsearch/include/semanticsearch/query/abstract_query_variant.hpp
  libs/semanticsearch/include/semanticsearch/scope_manager.hpp
  libs/semanticsearch/include/semanticsearch/unique_identifier.hpp
  libs/semanticsearch/src/semanticsearch/query/error_message.cpp
  libs/semanticsearch/src/semanticsearch/scope_manager.cpp
  libs/semanticsearch/src/semanticsearch/unique_identifier.cpp
Owners: @fetchai/ledger

Follow-up changes to c259e93
  libs/ledger/include/ledger/chaincode/contract.hpp
  libs/ledger/src/executor.cpp
Owners: @fetchai/ledger-core

Undone FromString change
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

reworked VMTensor to not use operators until operator estimators become possible
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger

style
  libs/vm-modules/src/math/tensor/tensor.cpp
Owners: @fetchai/ledger

removed duplicate function declaration
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
Owners: @fetchai/ledger

removed static from FixedPoint coef
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
Owners: @fetchai/ledger

Tensor coefs reworked
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger

Updating peer tracker
  libs/muddle/internal/kademlia/peer_tracker.hpp
Owners: @fetchai/ledger

Follow-up changes to c259e93 (#2124)
  libs/ledger/include/ledger/chaincode/contract.hpp
  libs/ledger/src/executor.cpp
Owners: @fetchai/ledger-core

Remove Matrix bindings
  libs/vm/include/vm/analyser.hpp
  libs/vm/include/vm/variant.hpp
  libs/vm/src/analyser.cpp
  libs/vm/src/module.cpp
Owners: @fetchai/ledger

replaced operator methods with member functions in tensor
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Fixed test and PR comments
  libs/ml/include/ml/model/model.hpp
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

bugfix wrong coefficient
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger

ML-289: initial version
  libs/vm-modules/include/vm_modules/ml/model/model.hpp
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/ml/model/model.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
Owners: @fetchai/ledger

VMModel::Fit, SerialiseTo coeficients added (#2119)
  libs/vm-modules/benchmark/model/model.cpp
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Fixing most of the races
  libs/muddle/internal/kademlia/peer_info.hpp
  libs/muddle/internal/kademlia/peer_tracker.hpp
  libs/muddle/internal/kademlia/table.hpp
  libs/muddle/src/kademlia/peer_tracker.cpp
  libs/muddle/src/kademlia/table.cpp
  libs/muddle/src/router.cpp
Owners: @fetchai/ledger

Weights initialisation refactored
  libs/core/include/core/random/lfg.hpp
  libs/ml/include/ml/ops/weights.hpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

Fp64 to 128
  libs/core/include/core/random/lfg.hpp
  libs/ml/include/ml/ops/weights.hpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

Sanitising a large part of the code
  libs/muddle/src/muddle.cpp
  libs/muddle/tests/integration/network_helpers.hpp
  libs/network/src/tcp/tcp_server.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

Feature/ml 330 arithmetic operators for etch tensor (#2092)
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

PR corrections & readability refines
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

WIP: Tensor Reshape unit tests
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Transpose testing corrected
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
Owners: @fetchai/ledger

Added etsimator test for VMTensor Transpose
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
Owners: @fetchai/ledger

UT corrections for VMTensor
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Tensor.Reshape estimator test
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
Owners: @fetchai/ledger

Test for reshape to invalid shape
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Reshape validation correction; UT tidying
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Added etsimator test for VMTensor Transpose
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
Owners: @fetchai/ledger

VMTensor.Transpose() fix and unit tests
  libs/math/include/math/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

VMTensorEstimator improved and tests added
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
Owners: @fetchai/ledger

Reshape estimator test corected
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
Owners: @fetchai/ledger

[wip] Add all consistency tests - Issues with Serialization/Deserialization
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Remove factories with estimators files
  libs/vm-modules/include/vm_modules/math/utilities/factory_with_estimator.hpp
  libs/vm-modules/include/vm_modules/ml/utilities/factory_with_estimator.hpp
  libs/vm-modules/src/math/utilities/factory_with_estimator.cpp
  libs/vm-modules/src/ml/utilities/factory_with_estimator.cpp
Owners: @fetchai/ledger

Moved vm opcode benchmarks to subdirectory
  libs/vm-modules/benchmark/CMakeLists.txt
  libs/vm-modules/benchmark/opcode/main.cpp
  libs/vm-modules/benchmark/opcode/opcode_bench.cpp
Owners: @fetchai/ledger

Do not cache state existed value
  libs/vm/src/state.cpp
  scripts/end_to_end_test/end_to_end_test.yaml
  scripts/end_to_end_test/smart_contract_tests/simple_state_test.py
Owners: @fetchai/ledger

Static Analysis fixes
  apps/constellation/main.cpp
  libs/constellation/include/constellation/health_check_http_module.hpp
  libs/constellation/src/constellation.cpp
  libs/ledger/include/ledger/consensus/consensus.hpp
  libs/ledger/src/chain/block_coordinator.cpp
  libs/muddle/src/kademlia/table.cpp
Owners: @fetchai/ledger-core, @fetchai/ledger
