Repository fetchai/ledger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fetchai/ledger, @ejfitzgerald, @n-hutton, @wkaluza, @fetchai/ledger-core, @jinmannwong, @fetchai/ledger-vm, @fetchai/ledger-dmlf

.github/CODEOWNERS:

# Default catch all
*                   @fetchai/ledger

# External dependencies
vendor/             @ejfitzgerald @n-hutton

# CI / CD
cmake/              @ejfitzgerald @n-hutton
.clang-tidy         @ejfitzgerald @n-hutton
.clang-format       @ejfitzgerald @n-hutton
.gitmodules         @ejfitzgerald @n-hutton
Jenkinsfile         @ejfitzgerald @n-hutton @wkaluza

# Core Libraries
apps/               @fetchai/ledger-core

libs/crypto/        @fetchai/ledger-core
libs/http/          @fetchai/ledger-core
libs/ledger/        @fetchai/ledger-core
libs/meta/          @fetchai/ledger-core
libs/metrics/       @fetchai/ledger-core
libs/miner/         @fetchai/ledger-core
libs/network/       @fetchai/ledger-core
libs/storage/       @fetchai/ledger-core
libs/settings/      @fetchai/ledger-core
libs/testing/       @fetchai/ledger-core
libs/variant/       @fetchai/ledger-core
libs/telemetry/     @fetchai/ledger-core
libs/version/       @fetchai/ledger-core

# Consensus
libs/beacon/        @n-hutton @jinmannwong
libs/dkg/           @n-hutton @jinmannwong

# Common Libraries
libs/core/          @fetchai/ledger
libs/vm/            @fetchai/ledger
libs/vm_modules/    @fetchai/ledger
libs/vectorise/     @fetchai/ledger

# VM + ML Libraries
libs/ml/            @fetchai/ledger-vm
libs/python/        @fetchai/ledger-vm
libs/math/          @fetchai/ledger-vm
libs/dmlf/          @fetchai/ledger-vm

# DMLF
libs/dmlf/          @fetchai/ledger-dmlf
libs/oef-base/      @fetchai/ledger-dmlf

add _half constant
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

style fixes
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

Updating
  libs/core/include/core/mutex.hpp
  libs/muddle/src/muddle_register.cpp
  libs/muddle/src/router.cpp
  libs/muddle/tests/integration/network_helpers.hpp
  libs/muddle/tests/integration/peer_table_desired_recovery.cpp
  libs/muddle/tests/integration/peer_table_reboot.cpp
  libs/oef-search/src/dap_manager/visitors/PopulateActionsVisitorDescentPass.cpp
  libs/telemetry/include/telemetry/gauge.hpp
  libs/telemetry/include/telemetry/registry.hpp
  libs/telemetry/src/counter_map.cpp
  libs/telemetry/src/histogram.cpp
  libs/telemetry/src/histogram_map.cpp
  libs/telemetry/src/registry.cpp
  libs/telemetry/tests/unit/gauge_tests.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

bugfixes to integer constructor & tests
  libs/math/include/math/base_types.hpp
  libs/math/include/math/meta/math_type_traits.hpp
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
  libs/vectorise/include/vectorise/meta/math_type_traits.hpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

avoid hardcoded tolerance
  libs/math/tests/unit/activation_functions/softmax.cpp
Owners: @fetchai/ledger-vm

typo
  libs/math/tests/unit/activation_functions/softmax.cpp
Owners: @fetchai/ledger-vm

Removing float constructors - int need to be put back in
  libs/ml/include/ml/ops/activations/gelu.hpp
  libs/ml/include/ml/ops/sqrt.hpp
  libs/ml/include/ml/ops/trainable.hpp
  libs/ml/tests/unit/ops/activations/dropout.cpp
  libs/ml/tests/unit/ops/activations/gelu.cpp
Owners: @fetchai/ledger-vm

Updating with Debug mutex always on
  libs/core/include/core/mutex.hpp
Owners: @fetchai/ledger

Defloating blas
  libs/math/src/math/linalg/blas/gemm_nn_novector.cpp
  libs/math/src/math/linalg/blas/gemm_nn_vector.cpp
  libs/math/src/math/linalg/blas/gemm_nt_novector.cpp
  libs/math/src/math/linalg/blas/gemm_nt_vector.cpp
  libs/math/src/math/linalg/blas/gemm_tn_novector.cpp
  libs/math/src/math/linalg/blas/gemm_tn_vector.cpp
  libs/math/src/math/linalg/blas/gemm_tt_novector.cpp
  libs/math/src/math/linalg/blas/gemm_tt_vector.cpp
  libs/math/src/math/linalg/blas/gemv_n_novector.cpp
  libs/math/src/math/linalg/blas/gemv_n_vector.cpp
  libs/math/src/math/linalg/blas/gemv_t_novector.cpp
  libs/math/src/math/linalg/blas/gemv_t_vector.cpp
Owners: @fetchai/ledger-vm

Tests fixed and used FP64
  libs/core/include/core/random/lfg.hpp
  libs/ml/include/ml/ops/weights.hpp
  libs/ml/tests/unit/model/dnn_classifier_test.cpp
  libs/ml/tests/unit/optimisation/optimisers.cpp
  libs/ml/tests/unit/optimisation/sparse_optimisers.cpp
  libs/ml/tests/unit/training/basic_training.cpp
Owners: @fetchai/ledger, @fetchai/ledger-vm

style improvements
  libs/ml/tests/unit/training/basic_training.cpp
Owners: @fetchai/ledger-vm

Style fix
  libs/ml/tests/unit/training/basic_training.cpp
Owners: @fetchai/ledger-vm

lint fixes
  libs/vectorise/include/vectorise/fixed_point/fixed_point.hpp
Owners: @fetchai/ledger

Enable charge estimators for object operators
  libs/vm-modules/include/vm_modules/math/bignumber.hpp
  libs/vm-modules/src/math/bignumber.cpp
  libs/vm-modules/tests/unit/vm_charge_tests.cpp
  libs/vm/include/vm/address.hpp
  libs/vm/include/vm/estimate_charge.hpp
  libs/vm/include/vm/fixed.hpp
  libs/vm/include/vm/object.hpp
  libs/vm/include/vm/string.hpp
  libs/vm/include/vm/vm.hpp
  libs/vm/src/fixed.cpp
  libs/vm/src/object.cpp
  libs/vm/src/string.cpp
  libs/vm/src/vm.cpp
  libs/vm/src/vm_handlers.cpp
Owners: @fetchai/ledger

Refactor/ml 286 datatype init with strings (#2139)
  libs/math/include/math/base_types.hpp
  libs/ml/examples/commodity_prediction/main.cpp
  libs/ml/examples/mnist/main.cpp
  libs/ml/examples/word2vec_SGNS_dataloader/main.cpp
  libs/ml/include/ml/clustering/tsne.hpp
  libs/ml/include/ml/ops/activations/elu.hpp
  libs/ml/include/ml/ops/loss_functions/cross_entropy_loss.hpp
  libs/ml/include/ml/ops/metrics/categorical_accuracy.hpp
  libs/ml/tests/unit/clustering/tsne_tests.cpp
  libs/ml/tests/unit/ops/activations/dropout.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger-vm, @fetchai/ledger

unified FromString again, included Khan's changes from 2109
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

duplicate case
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

Updating mutices
  libs/beacon/include/beacon/beacon_complaints_manager.hpp
  libs/beacon/include/beacon/beacon_setup_service.hpp
  libs/beacon/include/beacon/event_manager.hpp
  libs/constellation/include/constellation/open_api_http_module.hpp
  libs/core/include/core/containers/queue.hpp
  libs/http/include/http/server.hpp
  libs/ledger/include/ledger/execution_manager.hpp
  libs/muddle/internal/kademlia/peer_tracker_protocol.hpp
  libs/network/src/tcp/tcp_server.cpp
Owners: @n-hutton, @jinmannwong, @fetchai/ledger, @fetchai/ledger-core

Coefs reworkerd
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
Owners: @fetchai/ledger

Removing extra commits
  libs/ml/examples/mnist/main.cpp
  libs/ml/include/ml/ops/activations/gelu.hpp
  libs/ml/include/ml/ops/sqrt.hpp
  libs/ml/include/ml/ops/trainable.hpp
  libs/ml/tests/unit/ops/activations/dropout.cpp
  libs/ml/tests/unit/ops/activations/gelu.cpp
Owners: @fetchai/ledger-vm

guarding against negative uint construction
  libs/math/include/math/base_types.hpp
  libs/math/tests/unit/activation_functions/softmax.cpp
  libs/math/tests/unit/base_types/base_types.cpp
Owners: @fetchai/ledger-vm

Removed some int strings
  libs/math/src/math/linalg/blas/gemm_nn_novector.cpp
  libs/math/src/math/linalg/blas/gemm_nt_novector.cpp
  libs/math/src/math/linalg/blas/gemm_tn_novector.cpp
Owners: @fetchai/ledger-vm

style
  libs/ml/examples/mnist/main.cpp
Owners: @fetchai/ledger-vm

remove fixed point header
  libs/math/include/math/tensor.hpp
Owners: @fetchai/ledger-vm

Fix build
  libs/vm/src/vm_handlers.cpp
Owners: @fetchai/ledger

Fixed tests
  libs/ml/tests/unit/model/dnn_classifier_test.cpp
  libs/ml/tests/unit/model/dnn_regressor_test.cpp
  libs/ml/tests/unit/model/sequential_test.cpp
Owners: @fetchai/ledger-vm

Fix build
  libs/vm-modules/tests/unit/vm_charge_tests.cpp
Owners: @fetchai/ledger

Fixing overzealous checks
  libs/ml/include/ml/model/model.hpp
  libs/ml/tests/unit/model/sequential_test.cpp
Owners: @fetchai/ledger-vm

Added benchmarks
  libs/vm-modules/benchmark/tensor/tensor.cpp
Owners: @fetchai/ledger

Updating
  libs/muddle/src/router.cpp
  libs/network/include/network/tcp/client_connection.hpp
  libs/network/src/tcp/client_implementation.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

Formatting
  libs/muddle/src/router.cpp
  libs/network/src/tcp/tcp_server.cpp
Owners: @fetchai/ledger, @fetchai/ledger-core

Support for querying the deed via public token contract http interface
  libs/ledger/include/ledger/chaincode/deed.hpp
  libs/ledger/include/ledger/chaincode/token_contract.hpp
  libs/ledger/include/ledger/chaincode/wallet_record.hpp
  libs/ledger/src/chaincode/deed.cpp
  libs/ledger/src/chaincode/token_contract.cpp
  libs/ledger/src/chaincode/wallet_record.cpp
  libs/ledger/tests/chaincode/token_contract_deed_tests.cpp
  libs/ledger/tests/chaincode/token_contract_tests.cpp
Owners: @fetchai/ledger-core

Guard against null charge increments
  libs/vm/src/vm.cpp
Owners: @fetchai/ledger

pr feedback
  libs/ledger/include/ledger/consensus/consensus.hpp
  libs/ledger/src/consensus/consensus.cpp
Owners: @fetchai/ledger-core

missing file from last commit
  libs/ledger/src/consensus/consensus.cpp
Owners: @fetchai/ledger-core

Ml-286 remove leftover doubles/floats from vm code (#2121)
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/include/vm_modules/ml/model/model_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

Added safety ceiling to estimator
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/src/ml/model/model_estimator.cpp
Owners: @fetchai/ledger

tensor operators enabled and non-operator math functions removed
  libs/vm-modules/include/vm_modules/math/tensor/tensor.hpp
  libs/vm-modules/include/vm_modules/math/tensor/tensor_estimator.hpp
  libs/vm-modules/src/math/tensor/tensor.cpp
  libs/vm-modules/src/math/tensor/tensor_estimator.cpp
  libs/vm-modules/tests/unit/math/tensor_tests.cpp
Owners: @fetchai/ledger

Tests fixed
  libs/vm-modules/tests/unit/math/tensor_estimator_tests.cpp
  libs/vm-modules/tests/unit/ml/model_estimator_tests.cpp
Owners: @fetchai/ledger

merge fix
  libs/ml/examples/mnist/main.cpp
Owners: @fetchai/ledger-vm
